{% extends 'base.html' %}


{% block body %}
<div class="container">
    <form action="/analyze" method="post">
        {% csrf_token %}
    <div class="my-3 m">
      <label for="exampleFormControlTextarea1"  class="form-label">Example textarea</label>
      <textarea class="form-control"  name="text" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="removepunc" role="switch" id="flexSwitchCheckDefault1">
      <label class="form-check-label" for="flexSwitchCheckDefault1">Remove Punctuations</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="fullcaps" role="switch" id="flexSwitchCheckDefault2">
      <label class="form-check-label" for="flexSwitchCheckDefault2">UPPER CASE</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="charcount" role="switch" id="flexSwitchCheckDefault3">
      <label class="form-check-label" for="flexSwitchCheckDefault3">Character Count</label>
    </div>
    <button type="Submit" class="btn btn-dark mt-2">Analyze Text</button>


    </form>
</div>
{% endblock body %}